<section id="main-slider" class="no-margin">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <span class="home-icon pe-7s-gleam bounce-in"></span>
                                {% if title_of_slider %}
                                    <h2 class="boxed animation animated-item-1 fade-down">{{ title_of_slider }}</h2>
                                {% else %}
                                    <h2 class="boxed animation animated-item-1 fade-down">WE GONNA HELP YOU MAKE AN IMPACT</h2>
                                {% endif %}
                                {% if desc_of_slider %}
                                    <p class="boxed animation animated-item-2 fade-up">{{ desc_of_slider }}</p>
                                {% else %}
                                    <p class="boxed animation animated-item-2 fade-up">Our expertise will guide you to success. Without Fail.</p>
                                {% endif %}                                
                                <br>
                                <a class="btn btn-md animation bounce-in" href="{{ url_for('index') }}">Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
</section><!--/#main-slider-->