<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="service-block">
            <div class="pull-left bounce-in">
                <i class="fa fa-camera fa fa-md"></i>
            </div>
            <div class="media-body fade-up">
                <h3 class="media-heading">Photography</h3>
                <p>Nay middleton him admitting consulted and behaviour son household. Recurred advanced he oh together entrance speedily suitable. Ready tried gay state fat could boy its among shall.</p>
            </div>
        </div>
    </div><!--/.col-md-4-->
    <div class="col-md-4 col-sm-6">
        <div class="service-block">
            <div class="pull-left bounce-in">
                <i class="fa fa-thumbs-o-up fa fa-md"></i>
            </div>
            <div class="media-body fade-up">
                <h3 class="media-heading">Marketing</h3>
                <p>Unfeeling agreeable suffering it on smallness newspaper be. So come must time no as. Do on unpleasing possession as of unreserved.</p>
            </div>
        </div>
    </div><!--/.col-md-4-->
    <div class="col-md-4 col-sm-6">
        <div class="service-block">
            <div class="pull-left bounce-in">
                <i class="fa fa-ticket fa fa-md"></i>
            </div>
            <div class="media-body fade-up">
                <h3 class="media-heading">Event Management</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
            </div>
        </div>
    </div><!--/.col-md-4-->
</div><!--/.row-->
<div class="gap"></div>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="service-block">
            <div class="pull-left bounce-in">
                <i class="fa fa-star fa fa-md"></i>
            </div>
            <div class="media-body fade-up">
                <h3 class="media-heading">Star Gazing</h3>
                <p>Yet joy exquisite put sometimes enjoyment perpetual now. Behind lovers eat having length horses vanity say had its</p>
            </div>
        </div>
    </div><!--/.col-md-4-->
    <div class="col-md-4 col-sm-6">
        <div class="service-block">
            <div class="pull-left bounce-in">
                <i class="fa fa-cogs fa fa-md"></i>
            </div>
            <div class="media-body fade-up">
                <h3 class="media-heading">Software Support</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
            </div>
        </div>
    </div><!--/.col-md-4-->
    <div class="col-md-4 col-sm-6">
        <div class="service-block">
            <div class="pull-left bounce-in">
                <i class="fa fa-google-plus fa fa-md"></i>
            </div>
            <div class="media-body fade-up">
                <h3 class="media-heading">SEO Services</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
            </div>
        </div>
    </div><!--/.col-md-4-->
</div><!--/.row-->