<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="service-block">
            <div class="pull-left bounce-in">
                <i class="fa fa-windows fa fa-md"></i>
            </div>
            <div class="media-body fade-up">
                <h3 class="media-heading">Windows Apps</h3>
                <p>Unfeeling so rapturous discovery he exquisite. Reasonably so middletons or impression by terminated. Old pleasure required removing elegance him had. Down she bore sing saw calm high.</p>
            </div>
        </div>
    </div><!--/.col-md-4-->
    <div class="col-md-4 col-sm-6">
        <div class="service-block">
            <div class="pull-left bounce-in">
                <i class="fa fa-android fa fa-md"></i>
            </div>
            <div class="media-body fade-up">
                <h3 class="media-heading">Facebook Marketing</h3>
                <p>The who arrival end how fertile enabled. Brother she add yet see minuter natural smiling article painted. Themselves at dispatched interested insensible am be prosperous reasonably it. </p>
            </div>
        </div>
    </div><!--/.col-md-4-->
    <div class="col-md-4 col-sm-6">
        <div class="service-block">
            <div class="pull-left bounce-in">
                <i class="fa fa-apple fa fa-md"></i>
            </div>
            <div class="media-body fade-up">
                <h3 class="media-heading">iOS Development</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
            </div>
        </div>
    </div><!--/.col-md-4-->
</div><!--/.row-->

<div class="gap"></div>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="service-block">
            <div class="pull-left bounce-in">
                <i class="fa fa-linux fa fa-md"></i>
            </div>
            <div class="media-body fade-up">
                <h3 class="media-heading">Linux Development</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
            </div>
        </div>
    </div><!--/.col-md-4-->
    <div class="col-md-4 col-sm-6">
        <div class="service-block">
            <div class="pull-left bounce-in">
                <i class="fa fa-dribbble fa fa-md"></i>
            </div>
            <div class="media-body fade-up">
                <h3 class="media-heading">Graphic Design</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
            </div>
        </div>
    </div><!--/.col-md-4-->
    <div class="col-md-4 col-sm-6">
        <div class="service-block">
            <div class="pull-left bounce-in">
                <i class="fa fa-google-plus fa fa-md"></i>
            </div>
            <div class="media-body fade-up">
                <h3 class="media-heading">SEO Services</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
            </div>
        </div>
    </div><!--/.col-md-4-->
    </div><!--/.row-->