<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="tile-progress tile-red bounce-in">
                <div class="tile-header">
                    <h3>Video Editing</h3>
                    <span>Our cutting room floor is messy.</span>
                </div>
                <div class="tile-progressbar">
                    <span data-fill="65.5%" style="width: 65.5%;"></span>
                </div>
                <div class="tile-footer">
                    <h4>
                        <span class="pct-counter counter">65.5</span>%
                    </h4>
                </div>
            </div>
        </div><!--/.col-md-3-->
        <div class="col-md-3">
            <div class="tile-progress tile-cyan bounce-in">
                <div class="tile-header">
                    <h3>Marketing</h3>
                    <span>How well we can sell you and your brand.</span>
                </div>
                <div class="tile-progressbar">
                    <span data-fill="98.5%" style="width: 98.5%;"></span>
                </div>
                <div class="tile-footer">
                    <h4>
                        <span class="pct-counter counter">98.5</span>%
                    </h4>
                </div>
            </div>
        </div><!--/.col-md-3-->
        <div class="col-md-3">
            <div class="tile-progress tile-primary bounce-in">
                <div class="tile-header">
                    <h3>Web Development</h3>
                    <span>We love servers and stuff.</span>
                </div>
                <div class="tile-progressbar">
                    <span data-fill="90%" style="width: 90%;"></span>
                </div>
                <div class="tile-footer">
                    <h4>
                        <span class="pct-counter counter">90</span>%
                    </h4>
                </div>
            </div>
        </div><!--/.col-md-3-->
        <div class="col-md-3">
            <div class="tile-progress tile-pink bounce-in">
                <div class="tile-header">
                    <h3>Coffee</h3>
                    <span>We done make good joe, though.</span>
                </div>
                <div class="tile-progressbar">
                    <span data-fill="10%" style="width: 10%;"></span>
                </div>
                <div class="tile-footer">
                    <h4>
                        <span class="pct-counter counter">10</span>%
                    </h4>
                </div>
            </div>
        </div><!--/.col-md-3-->
    </div><!--/.row-->
    <div class="gap"></div>
</div><!--/.container-->