<section id="about-us" class="white">
    <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">A Little About Us</h2>
                    <hr>
                    <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 fade-up">
                <!-- Disii dua paragraf -->
                {% include "about-us/_aboutusparagraph.html" %}
            </div>
            <div class="col-md-4 fade-up">

            </div>
        </div>

        <div class="gap"></div>
        {% include "about-us/_testimonial.html" %}

        <div class="gap"></div>
        {% include "about-us/_meettheteam.html" %}
        <div class="gap"></div>
        <div class="gap"></div>
    </div>
</section>