<section id="portfolio" class="white">
    <div class="container">
        <div class="gap"></div>
        <div class="center gap fade-down section-heading">
            <h2 class="main-title">Examples Of Excellence</h2>
            <hr>
            <p>She evil face fine calm have now. Separate screened he outweigh of distance landlord.</p>
        </div>
        <ul class="portfolio-filter fade-down center">
            <li><a class="btn btn-outlined btn-primary active" href="#" data-filter="*">All</a></li>
            <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".apps">Apps</a></li>
            <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".nature">Nature</a></li>
            <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".design">Design</a></li>
        </ul><!--/#portfolio-filter-->

        <ul class="portfolio-items col-3 isotope fade-up">
            <li class="portfolio-item apps isotope-item">
                <div class="item-inner">
                    <img src="{{ url_for('static', filename='images/portfolio/folio01.jpg') }}" alt="">
                    <h5>Portfolio Project</h5>
                    <div class="overlay">
                        <a class="preview btn btn-outlined btn-primary" href="{{ url_for('static', filename='images/portfolio/folio01.jpg') }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla nature isotope-item">
                <div class="item-inner">
                    <img src="{{ url_for('static', filename='images/portfolio/folio02.jpg') }}" alt="">
                    <h5>Portfolio Project</h5>
                    <div class="overlay">
                        <a class="preview btn btn-outlined btn-primary" href="{{ url_for('static', filename='images/portfolio/folio02.jpg') }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </li><!--/.portfolio-item-->
            <li class="portfolio-item bootstrap design isotope-item">
                <div class="item-inner">
                    <img src="{{ url_for('static', filename='images/portfolio/folio03.jpg') }}" alt="">
                    <h5>Portfolio Project</h5>
                    <div class="overlay">
                        <a class="preview btn btn-outlined btn-primary" href="{{ url_for('static', filename='images/portfolio/folio03.jpg') }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla design apps isotope-item">
                <div class="item-inner">
                    <img src="{{ url_for('static', filename='images/portfolio/folio04.jpg') }}" alt="">
                    <h5>Portfolio Project</h5>
                    <div class="overlay">
                        <a class="preview btn btn-outlined btn-primary" href="{{ url_for('static', filename='images/portfolio/folio04.jpg') }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla apps isotope-item">
                <div class="item-inner">
                    <img src="{{ url_for('static', filename='images/portfolio/folio05.jpg') }}" alt="">
                    <h5>Portfolio Project</h5>
                    <div class="overlay">
                        <a class="preview btn btn-outlined btn-primary" href="{{ url_for('static', filename='images/portfolio/folio05.jpg') }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </li><!--/.portfolio-item-->
            <li class="portfolio-item wordpress nature isotope-item">
                <div class="item-inner">
                    <img src="{{ url_for('static', filename='images/portfolio/folio06.jpg') }}" alt="">
                    <h5>Portfolio Project</h5>
                    <div class="overlay">
                        <a class="preview btn btn-outlined btn-primary" href="{{ url_for('static', filename='images/portfolio/folio06.jpg') }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla design apps isotope-item">
                <div class="item-inner">
                    <img src="{{ url_for('static', filename='images/portfolio/folio07.jpg') }}" alt="">
                    <h5>Portfolio Project</h5>
                    <div class="overlay">
                        <a class="preview btn btn-outlined btn-primary" href="{{ url_for('static', filename='images/portfolio/folio07.jpg') }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla nature isotope-item">
                <div class="item-inner">
                    <img src="{{ url_for('static', filename='images/portfolio/folio08.jpg') }}" alt="">
                    <h5>Portfolio Project</h5>
                    <div class="overlay">
                        <a class="preview btn btn-outlined btn-primary" href="{{ url_for('static', filename='images/portfolio/folio08.jpg') }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </li><!--/.portfolio-item-->
            <li class="portfolio-item wordpress design isotope-item">
                <div class="item-inner">
                    <img src="{{ url_for('static', filename='images/portfolio/folio09.jpg') }}" alt="">
                    <h5>Portfolio Project</h5>
                    <div class="overlay">
                        <a class="preview btn btn-outlined btn-primary" href="{{ url_for('static', filename='images/portfolio/folio09.jpg') }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </li><!--/.portfolio-item-->
        </ul><!--/.portfolio-items-->
    </div><!--/.container-->
</section><!--/#portfolio-->