<section id="single-quote" class="divider-section">
    <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class='col-md-offset-2 col-md-8 fade-up'>
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img class="img-responsive" src="{{ url_for('static', filename='images/team/team01.jpg') }}" style="width: 100px;height:100px;">
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>
</section>