<section id="services" class="white">
    <div class="container">
        <div class="gap"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">Stuff We Do</h2>
                    <hr>
                    <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
                </div>
            </div>
        </div>

        {% include "services/_products01.html" %}
    </div><!--/.container-->
    <div class="gap"></div>
    <div class="container">
        {% include "services/_headskills.html" %}
    </div><!--/.container-->
    {% include "services/_skills.html" %}
</section>