<section id="main-slider" class="no-margin">
    <div class="container">
        <div class="row">
            <div class="col-md-12 project-controls">
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">Single Project</h2>
                    <hr>
                    <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
                    <span class="prevbg"><i class="fa fa-angle-left pull-left"></i></span>
                    <span class="nextbg"><i class="fa fa-angle-right pull-right"></i></span>
                </div>
            </div><!--/.col-md-12-->
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#main-slider-->