<section id="stats" class="divider-section">
    <div class="gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="center bounce-in">
                    <span class="stat-icon"><span class="pe-7s-timer bounce-in"></span></span>
                    <h1><span class="counter">246000</span></h1>
                    <h3>HOURS SAVED</h3>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="center bounce-in">
                    <span class="stat-icon"><span class="pe-7s-light bounce-in"></span></span>
                    <h1><span class="counter">16875</span></h1>
                    <h3>FRESH IDEAS</h3>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="center bounce-in">
                    <span class="stat-icon"><span class="pe-7s-graph1 bounce-in"></span></span>
                    <h1><span class="counter">99999999</span></h1>
                    <h3>HUGE PROFIT</h3>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="center bounce-in">
                    <span class="stat-icon"><span class="pe-7s-box2 bounce-in"></span></span>
                    <h1><span class="counter">54875</span></h1>
                    <h3>THINGS IN BOXES</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="gap"></div>
</section>