<section id="single-page-slider" class="no-margin">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="center gap fade-down section-heading">
                                {% if title_of_slider %}
                                    <h2 class="main-title">{{ title_of_slider }}</h2>
                                {% else %}
                                    <h2 class="main-title">Welcome!</h2>
                                {% endif %}
                                <hr>
                                {% if desc_of_slider %}
                                    <p>{{ desc_of_slider }}</p>
                                {% else %}
                                    <p>Our expertise will guide you to success. Without Fail.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
</section><!--/#main-slider-->