{% for post in posts %}
    <div class="blog-item">
        <div class="blog-featured-image">
            <img class="img-responsive img-blog" src="http://placehold.it/800x600" alt="" />
            <div class="overlay">
                <a class="preview btn btn-outlined btn-primary" href="blog-item.html" rel="prettyPhoto"><i class="fa fa-link"></i></a>
            </div>
        </div>
        <div class="blog-content">
            <a href="blog-item.html"><h3 class="main-title">{{ post.title }}</h3></a>
            <div class="entry-meta">
                <span><i class="fa fa-user"></i> <a href="#"> {{ post.author }}</a></span>
                <span><i class="fa fa-folder"></i> <a href="#"> Style</a></span>
                <span><i class="fa fa-clock-o"></i> {{ post.date_posted }}</span>
                <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments"><span class="counter">14</span> Comments</a></span>
            </div>
            <p>{{ post.content }}</p>
            <div class="read-more-wrapper">
                <a class="btn btn-outlined btn-primary" href="blog-item.html">Read More</a>
            </div>
        </div><!--/.blog-content-->
    </div><!--/.blog-item-->
{% endfor %}