<div class="widget categories">
    <h3 class="widget-title">Blog Categories</h3>
    <div class="row">
        <div class="col-sm-6">
            <ul class="arrow">
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Music</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">News</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="arrow">
                <li><a href="#">Nature</a></li>
                <li><a href="#">Travel</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Tutorial</a></li>
                <li><a href="#">Samples</a></li>
            </ul>
        </div>
    </div>
</div><!--/.categories-->