<div class="widget tags">
    <h3 class="widget-title">Post Tags</h3>
    <ul class="tag-cloud">
        <li><a class="btn btn-xs btn-primary btn-outlined" href="#">Fashion</a></li>
        <li><a class="btn btn-xs btn-primary btn-outlined" href="#">Video</a></li>
        <li><a class="btn btn-xs btn-primary btn-outlined" href="#">WordPress</a></li>
        <li><a class="btn btn-xs btn-primary btn-outlined" href="#">Plugins</a></li>
        <li><a class="btn btn-xs btn-primary btn-outlined" href="#">Downloads</a></li>
        <li><a class="btn btn-xs btn-primary btn-outlined" href="#">Freebies</a></li>
        <li><a class="btn btn-xs btn-primary btn-outlined" href="#">Envato</a></li>
        <li><a class="btn btn-xs btn-primary btn-outlined" href="#">Tutorial</a></li>
        <li><a class="btn btn-xs btn-primary btn-outlined" href="#">Update</a></li>
    </ul>
</div><!--/.tags-->