<div class="row">
    <div class="col-md-4 fade-up">
        <h3>Contact Information</h3>
        <p>
            <i class="fa fa-home"></i> Kota Banjar, Jawa Barat, Indonesia<br/>
            <i class="fa fa-mobile-phone" style="font-size:24px"></i>  +62 265 744 356<br/>
            <i class="fa fa-phone-square"></i> +62 265 744 356<br/>
            <i class="fa fa-envelope-square"></i> <a href="#"> info@smkn2banjar-jabar.sch.id</a> <br/>
            <i class="fa fa-facebook-square"></i> <a href="#"> @smkn2banjarjabar</a> <br/>
            <i class="fa fa-twitter-square"></i> <a href="#"> smkn2banjarjabar</a> <br/>
        </p>
    </div><!-- col -->

    <div class="col-md-8 fade-up">
        <h3>Drop Us A Message</h3>
        <br>
        <br>
        <div id="message"></div>
        <form method="post" action="sendemail.php" id="contactform">
            <input type="text" name="name" id="name" placeholder="Name" />
            <input type="text" name="email" id="email" placeholder="Email" />
            <input type="text" name="website" id="website" placeholder="Website" />
            <textarea name="comments" id="comments" placeholder="Comments"></textarea>
            <input class="btn btn-outlined btn-primary" type="submit" name="submit" value="Submit" />
        </form>
    </div><!-- col -->
</div><!-- row -->