<div id="meettheteam" class="center gap fade-down section-heading">
    <h2 class="main-title">Meet The Team</h2>
    <hr>
    <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
</div>
<div class="gap"></div>

<div id="meet-the-team" class="row">
    <div class="col-md-3 col-xs-6">
        <div class="center team-member">
            <div class="team-image">
                <img class="img-responsive img-thumbnail bounce-in" src="{{ url_for('static', filename='images/team/team01.jpg') }}" alt="">
                <div class="overlay">
                    <a class="preview btn btn-outlined btn-primary" href="{{ url_for('static', filename='images/team/team01.jpg') }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                </div>
            </div>
            <div class="team-content fade-up">
                <h5>Daniel Jones<small class="role muted">Web Design</small></h5>
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-xs-6">
        <div class="center team-member">
            <div class="team-image">
                <img class="img-responsive img-thumbnail bounce-in" src="{{ url_for('static', filename='images/team/team02.jpg') }}" alt="">
                <div class="overlay">
                    <a class="preview btn btn-outlined btn-primary" href="{{ url_for('static', filename='images/team/team02.jpg') }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                </div>
            </div>
            <div class="team-content fade-up">
                <h5>John Smith<small class="role muted">Marketing Director</small></h5>
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="center team-member">
            <div class="team-image">
                <img class="img-responsive img-thumbnail bounce-in" src="{{ url_for('static', filename='images/team/team03.jpg') }}" alt="">
                <div class="overlay">
                    <a class="preview btn btn-outlined btn-primary" href="{{ url_for('static', filename='images/team/team03.jpg') }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                </div>
            </div>
            <div class="team-content fade-up">
                <h5>Dave Gorman<small class="role muted">Web Design</small></h5>
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="center team-member">
            <div class="team-image">
                <img class="img-responsive img-thumbnail bounce-in" src="{{ url_for('static', filename='images/team/team04.jpg') }}" alt="">
                <div class="overlay">
                    <a class="preview btn btn-outlined btn-primary" href="{{ url_for('static', filename='images/team/team04.jpg') }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                </div>
            </div>
            <div class="team-content fade-up">
                <h5>Steve Smith<small class="role muted">Sales Assistant</small></h5>
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</div><!--/#meet-the-team-->