<div class="row fade-up">
    <div class="col-md-6">
        <div class="testimonial-list-item">
            <img class="pull-left img-responsive quote-author-list" src="{{ url_for('static', filename='images/team/team01.jpg') }}">
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Manager at <cite title="Source Title">Company</cite></small>
            </blockquote>
        </div>
        <div class="testimonial-list-item">
            <img class="pull-left img-responsive quote-author-list" src="{{ url_for('static', filename='images/team/team01.jpg') }}">
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Manager at <cite title="Source Title">Company</cite></small>
            </blockquote>
        </div>
    </div>
    <div class="col-md-6">
        <div class="testimonial-list-item">
            <img class="pull-left img-responsive quote-author-list" src="{{ url_for('static', filename='images/team/team01.jpg') }}">
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Manager at <cite title="Source Title">Company</cite></small>
            </blockquote>
        </div>
        <div class="testimonial-list-item">
            <img class="pull-left img-responsive quote-author-list" src="{{ url_for('static', filename='images/team/team01.jpg') }}">
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Manager at <cite title="Source Title">Company</cite></small>
            </blockquote>
        </div>
    </div>
</div><!--/#testimonial-->